providerb/src/main/resources/xsd/flights.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://flightsearch.com/provider/b"
           xmlns="http://flightsearch.com/provider/b"
           elementFormDefault="qualified">

    <xs:element name="SearchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="departure" type="xs:string"/>
                <xs:element name="arrival" type="xs:string"/>
                <xs:element name="departureDate" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SearchResult">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="flightOptions" type="Flight" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="hasError" type="xs:boolean"/>
                <xs:element name="errorMessage" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Flight">
        <xs:sequence>
            <xs:element name="flightNumber" type="xs:string"/>
            <xs:element name="departure" type="xs:string"/>
            <xs:element name="arrival" type="xs:string"/>
            <xs:element name="departuredatetime" type="xs:dateTime"/>
            <xs:element name="arrivaldatetime" type="xs:dateTime"/>
            <xs:element name="price">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="10" />
                        <xs:fractionDigits value="2" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
